<div class="blog-create">
  <h1 class="blog-header">blog create form</h1>
  <form action="/blogs" method="POST" class="blog-create-form">
    <div class="form-group">
      <label for="title" class="form-label">title</label>
      <input name="title" type="text" placeholder="enter title" class="form-input" />
    </div>
    <div class="form-group">
      <label for="introduction" class="form-label">introduction</label>
      <input name="introduction" type="text" placeholder="enter intro" class="form-input" />
    </div>
    <div class="form-group">
      <label for="body" class="form-label">body</label>
      <textarea name="body" placeholder="enter body" class="form-textarea"></textarea>
    </div>
    <div>
      <button type="submit" class="form-btn">Create</button>
    </div>

  </form>
</div>