<div class="blog-create">
  <h1 class="blog-header">blog create form</h1>
  <form action="" class="blog-create-form">
    <div class="form-group">
      <label for="" class="form-label">title</label>
      <input type="text" placeholder="enter title" class="form-input" />
    </div>
    <div class="form-group">
      <label for="" class="form-label">price</label>
      <input type="text" placeholder="enter price" class="form-input" />
    </div>
    <div class="form-group">
      <label for="" class="form-label">introduction</label>
      <textarea name="" id="" placeholder="enter introduction" class="form-textarea"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="form-btn">Create</button>
    </div>

  </form>
</div>