<nav>
  <h2><a href="/">Bloggy</a></h2>
  <div class="page-routes">
    <a href="/" class="single-route">Main</a>
    <a href="/about" class="single-route">About</a>
    <a href="/contact" class="single-route">Contact</a>
  </div>
</nav>