<!DOCTYPE html>
<html lang="en">

<%- include('./components/header.ejs') %>

<body>
  <%- include('./components/navbar.ejs') %>
  <div class="container">
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, laborum accusantium aut ipsa assumenda recusandae ut magni optio amet deserunt.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, laborum accusantium aut ipsa assumenda recusandae ut magni optio amet deserunt.</p>
  </div>

</body>

</html>