<h1 class="blog-header">Contact page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam exercitationem dignissimos rerum debitis dolor laborum minus atque illo odit?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam exercitationem dignissimos rerum debitis dolor laborum minus atque illo odit?</p>