<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./components/header.ejs') %>

<body>
  <%- include('./components/navbar.ejs') %>
  <div class="container">
    <h1>Contact page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam exercitationem dignissimos rerum debitis dolor laborum minus atque illo odit?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos laboriosam exercitationem dignissimos rerum debitis dolor laborum minus atque illo odit?</p>
  </div>
</body>

</html>