<% if(blogs.length){ %>
<% blogs.forEach(blog =>{ %>
<div class="single-card">
  <h1>title : <%= blog.title %></h1>
  <h2>price : <%= blog.introduction %></h2>
  <h3>intro : <%= blog.body %></h3>
</div>
<% }); %>
<% }%>