<h1 class="blog-header">blogs</h1>
<% if(blogs.length){ %>
<% blogs.forEach(blog =>{ %>
<div class="single-card">
  <a href="/single-blog/<%= blog._id %>">
    <h1>title : <%= blog.title %></h1>
  </a>
  <h2>introduction : <%= blog.introduction %></h2>
  <h3>body : <%= blog.body %></h3>
</div>
<% }); %>
<% }%>